success News & Article Summarizer Chatbot with OpenAI.json
{
  "name": "success News & Article Summarizer Chatbot with OpenAI",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nI'm your Article & Document Summarizer assistant.\n\nI can help you:\n📄 Summarize uploaded files (PDF, DOCX, TXT, etc.)\n🔗 Summarize articles from URLs\n\nJust upload a file or paste a URL, and I'll provide a comprehensive summary!",
        "options": {
          "allowFileUploads": true
        }
      },
      "id": "b872a61f-2330-43af-b00d-b36006b20595",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -128
      ],
      "webhookId": "10843ce5-412f-453e-b74e-409a002e7803"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful AI assistant that summarizes articles and documents.\n\n**Available Tools:**\n- fetch_url: Use when user provides a URL to fetch webpage content\n- extract_file_content: Use when user uploads a file to extract its text content\n\n**Instructions:**\n\nWhen a user provides a URL:\n1. Use the fetch_url tool to retrieve the webpage content\n2. Clean the HTML by removing tags and extracting readable text\n3. Provide a comprehensive summary with:\n   - Main topic/purpose (1-2 sentences)\n   - Key points (3-5 bullet points)\n   - Important details or conclusions\n\nWhen a user uploads a file:\n1. Use the extract_file_content tool to get the text from the file\n2. Analyze the content thoroughly\n3. Provide a comprehensive summary with:\n   - Document type and main topic (1-2 sentences)\n   - Key points (3-5 bullet points)\n   - Important details or conclusions\n\nAlways:\n- Be thorough and informative\n- Use clear, professional language\n- Highlight the most important information\n- If content is unclear or extraction fails, explain what went wrong"
        }
      },
      "id": "c13b826b-d7da-4205-a7c5-d4409592b74b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        -128
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "d66622b7-966d-4216-bae6-5bb19cc4f24f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        64
      ],
      "credentials": {
        "openAiApi": {
          "id": "kDGfshoQ3iyBmMBe",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Fetches content from a URL. Use this when the user provides a link to an article or webpage. Returns the HTML content of the page.",
        "url": "={{ $fromAI('url', 'The URL to fetch content from', 'string') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "c8179d9d-6251-4de5-9c3b-5479948c4bfa",
      "name": "Fetch URL Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        400,
        112
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        96
      ],
      "id": "c87af68a-5ada-4d52-848d-0ae277607ced",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        528,
        112
      ],
      "id": "824f423e-c29f-48f8-b6fb-f0c6e7f7083d",
      "name": "Think"
    },
    {
      "parameters": {
        "description": "Extracts text content from uploaded files (PDF, DOCX, TXT, etc.). Use this tool when the user uploads a file that needs to be summarized. Returns the extracted text content.",
        "jsCode": "const fileIndex = $fromAI('fileIndex', 'Index of the file to extract (0 for first file)', 'number', 0);\n\n// Get the input data from the chat trigger\nconst inputData = $input.item.json;\n\n// Check if files exist\nif (!inputData.files || inputData.files.length === 0) {\n  return { error: 'No files uploaded. Please upload a file first.' };\n}\n\n// Get the specified file\nconst file = inputData.files[fileIndex];\nif (!file) {\n  return { error: `File at index ${fileIndex} not found.` };\n}\n\n// Extract text from binary data\nconst binaryData = $binary[file.fileName];\nif (!binaryData) {\n  return { error: 'Could not access file binary data.' };\n}\n\n// Convert binary to text\nconst textContent = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n\nreturn {\n  fileName: file.fileName,\n  fileType: file.fileType,\n  fileExtension: file.fileExtension,\n  content: textContent,\n  contentLength: textContent.length\n};"
      },
      "id": "3bdd246e-9174-4c17-8594-6e2de6cd7e83",
      "name": "Extract File Content Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        656,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Content Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "331f92bc-1434-4def-ab27-9cdc6f848e3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd319f608ecfea08250b88774508115479b695ee03b81c87cb1640e704c86e6a"
  },
  "id": "m3bTpcNATNkPBSUg",
  "tags": []
}